
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
    background-color: #343a40;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 50px;
}
body{
    background-color: #6c757d;
    align-items: center;
    font-family: monospace;
    font-size: 17px;
   
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    
}

.rjesenja{
    color:whitesmoke;
    font-size: 17px;
    font-weight: bold; 
    display: inline-block;
    word-break: break-all;
    width: 1000px;
    
}
tbody{
    background-color: whitesmoke;
}
tr:nth-child(even){
    background-color: whitesmoke;
}
th{
    background-color: #343a40;
    color: white;
}
.button {
    background-color: #343a40; 
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
    cursor:pointer;
    
  }
  .button:hover {
    background-color: #343a40; /* Green */
    color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button:active {
    background-color: #fdfdfd;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }
  .footer{
    background-color: #343a40;
    border-top: 5px solid whitesmoke;
    color: white;
    position: relative;
    bottom: auto;
    width: 100%;
    

}.wrapper{
    
    padding: 1%;
    width: 90%;
    margin: 0 auto;
    min-height: 56.5%;

}
.text-center{
    text-align: center;
}
.buttons{
    position: relative;
}
.menu{
    position: relative;
    border-bottom: 5px solid whitesmoke;
    background-color: #343a40;
    color: whitesmoke;
    width: 100%;
}
.logo{
    width: min(25vw, 75px);
    float: left;
}
.center{
   margin-left: 100px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contbutton{
  
    color: white;
  
    
    text-decoration: none;
    font-size: 35px;

}



.contact{
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.contact-content{
    height: 400px;
    width: 1000px;
    background: #343a40;
    border: 3px solid white;
    color: white;
    border-radius: 30px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.contact-content h2{
    margin:0 auto;
    border-bottom: 1px solid gray;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.contacttext{
    font-family: sans-serif;
}

.contbutton{
  
    color: white;
  
    
    text-decoration: none;
    font-size: 35px;

}



.dodatno{
    padding: 1%;
    width: 90%;
    margin: auto;
    min-height: 56.5%;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold; 
    text-align: center;
 
    
}

@media only screen and (max-width:1024px){

    .rjesenja{
        color:whitesmoke;
        font-size: 14px;
        font-weight: bold; 
        display: inline-block;
        word-break: break-all;
        width: 500px;
        position: relative;
        
    }
    html,body{
        height: 100%;
        width: 100%;
        overflow-x:scroll;
        overflow-y:auto;
        
    }
.wrapper{
    
    padding: 1%;
    width: 90%;
    margin: 0 auto;
    min-height: 0%;

}
}

