{% load static %}
<!DOCTYPE html>
<html>
    <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'Tribes/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
        
        {% if title %}
        <title>Music Tribes - {{ title }}</title>
        {% else %}
        <title>Music Tribes</title>
        {% endif %}
        {% if request.GET.limit %}
        <div  style="color:red; text-align: center;">Only one tribe per user allowed!</div>
        {% endif %}
        {% if request.GET.limit1 %}
        <div  style="color:red; text-align: center;">You can only join once!</div>
        {% endif %}
        {% if request.GET.limit2 %}
        <div  style="color:red; text-align: center;">Invalid youtube_url!</div>
        {% endif %}
        {% if request.GET.limit3 %}
        <div  style="color:red; text-align: center;">You must be member to add songs!</div>
        {% endif %}
        {% if request.GET.limit4 %}
        <div  style="color:red; text-align: center;">You must be chief or admin for such action!</div>
        {% endif %}
        {% if request.GET.limit5 %}
        <div  style="color:red; text-align: center;">You must be member of that tribe for such action!</div>
        {% endif %}
        {% if request.GET.limit6 %}
        <div  style="color:red; text-align: center;">You must be admin or chief of that tribe for such action!</div>
        {% endif %}
        {% if request.GET.limit7 %}
        <div  style="color:red; text-align: center;">You must be admin,chief, or owner for such action!</div>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'tribe:home' %}">Music Tribes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'tribe:home' %}">Home</a>
                    
                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">

                    {% if user.is_authenticated %}

                    {% for tribe in tribes.all %}  

                    {% if tribe.chief == user %}

                    <a class="nav-item nav-link" href="{% url 'tribe:detail' tribe.id %}">My Tribe</a>

                    {% endif %}   
                    
                    {% endfor %}
 
                    <a class="nav-item nav-link" href="{% url 'tribe:tribe-create' %}">Create Tribe</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

                    {% else %}

                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

                    {% endif %}
                  </div>
                </div>
              </div>
            </nav>
          </header>

          <main role="main"  class="container">
            <div class="row">
              <div class="col-md-8">
                
               
                {% block content %}
                
                
                {% endblock %}
                
                
              </div>
              {% block list %}
              <div class="col-md-4" >
                <div class="content-section">
                  <h3>Tribes</h3>
                  <p class='text-muted'>Tribes that I am member of.
                    <ul class="list-group">
                      {% for tribe in tribes.all %}
                      
                      {% if user in tribe.members.all %}
                      <a href="{% url 'tribe:detail' tribe.id %}" class="list-group-item list-group-item-light">{{ tribe.title }}</a>
                      
                      {% endif %}
                      {% endfor %}
                      
                    </ul>
                  </p>
                </div>
              </div>
              
              {% endblock %}
            </div>
            

            
          </main>
          {% block chat %}
           
            {% endblock %}
            
          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>