<html>
	<head>Chat page</head>
	<body>		
		<ul>
			{% for tribe in tribes %}
				<li>
					<a href="{% url 'tribe:chat_conversation' tribe.id %}">
						{{ tribe }}
					</a>					
				</li>
			{% endfor %}
		</ul>
	</body>
</html>