{% extends "Tribes/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">

        <div class="media-body">
            <h2 class="account-heading">{{ chief.username }}</h2>
            <p class="text-secondary">{{ chief.email }}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Your Tribe</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block list %}
{% endblock %}