 {% extends "Tribes/base.html" %}
 
 {% block content %}

{# chief #}

    {% for tribe in tribes %}
    {% if user == tribe.chief %}
    
    <div class="media content-section ">
      
      <img class="rounded-circle article-img" src="{{ tribe.image.url }}" >
        <div class="media-body">
          <div class="article-metadata " >
            
            <a class="mr-2" >Chief: {{ tribe.chief }}</a>
            <b>My Tribe</b>
            <h2><a class="article-title" href="{% url 'tribe:detail' tribe.id %}">{{ tribe.title }}</a></h2>
            <p class="article-content">Genre: {{ tribe.genre }}</p>
            
          </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {# member #}

    {% for tribe in tribes %}
    {% if user in tribe.members.all %}
    
    <div class="media content-section">
      <img class="rounded-circle article-img" src="{{ tribe.image.url }}" >
        <div class="media-body">
          <div class="article-metadata">
            
            <a class="mr-2" >Chief: {{ tribe.chief }}</a>
            <img class="rounded-circle article-img" style="width:3%; height: 3%;" src="../media/join-logo.jpg" ><b>Joined</b>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tribe:leave' tribe.id %}" >Leave</a>
            <h2><a class="article-title" href="{% url 'tribe:detail' tribe.id %}">{{ tribe.title }}</a></h2>
            <p class="article-content">Genre: {{ tribe.genre }}</p>
            
          </div>
        </div>
    </div>
      {% endif %}
    {% endfor %}

    {# other #}

    {% for tribe in tribes %}
    {% if user != tribe.chief %}
    {% if user not in tribe.members.all %}
    
    <div class="media content-section">
      <img class="rounded-circle article-img" src="{{ tribe.image.url }}" >
        <div class="media-body">
          <div class="article-metadata">
            
            <a class="mr-2" >Chief: {{ tribe.chief }}</a>
            {% if user.is_authenticated %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tribe:join' tribe.id %}" >Join</a>
            {% endif %}
            <h2><a class="article-title" href="{% url 'tribe:detail' tribe.id %}">{{ tribe.title }}</a></h2>
            <p class="article-content">Genre: {{ tribe.genre }}</p>
            
          </div>
        </div>
    </div>
      {% endif %}
      {% endif %}
    {% endfor %}

    
{% endblock content %}
