{% extends "Tribes/base.html" %}


{% block content %}

   <article class="media content-section">
       <div class="media-body">
         <div class="article-metadata">
            <div>
           <a class="mr-2" >Created by: {{ object.user }} at {{ object.date_created }}</a>
          
            </div>

         </div>
         <h2 class="article-title" >Playlist: <b>{{ object.name }}</b></h2>
         <p class="article-content">Description: {{ object.description }}</p>
         <h2 class="article-title" >Songs: </h2>
         {% if user in object.tribe.members.all or user == object.tribe.chief or user.is_staff  %}
         <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'tribe:song-create' pk=object.id %}" >Add Song</a>
         {% endif %}
{% for song in object.song_set.all %}
         <div style="border-style: ridge;border-color: white;border-radius: 13px;">
            
            <p class="article-content"><b>{% if user.is_staff or user == song.user or user == object.tribe.chief %}<a href="{% url 'tribe:song-delete' song.id %}" > <img style="width: 20px;height: 20px;" src="/media/icon-delete.jpg" ></a>{% endif %}{{ song.artist }} - {{ song.title }}({{song.duration}})</b> <a target="_blank" rel="noopener" href="{{ song.youtube_url }}"><img class="rounded-circle article-img" style="width:30px; height: 30px;" src="/media/play-icon.jpg" ></a>{% if user in object.tribe.members.all or user == object.tribe.chief or user.is_staff  %} {% if user in song.likes.all %}<a href="{% url 'tribe:song-like' song.id %}">Unlike<img class="rounded-circle article-img" style="width:30px; height: 30px;" src="/media/dislike-icon.jpg" ></a>{% else %}<a href="{% url 'tribe:song-like' song.id %}">Like<img class="rounded-circle article-img" style="width:30px; height: 30px;" src="/media/like-icon.jpg" ></a>{% endif %}{% endif %} <b>{{ song.likes.count }}</b></p>
         
          
         
            
         {% if song.comment_set.count == 0 %}
         
         <span style = "cursor: pointer;"class="show">Be first to comment!</span>
         {%else%}
         <span style = "cursor: pointer;"class="show">There are {{ song.comment_set.count }} comments. Check em' out!</span>
         
         {% endif %}
         
   
    <div  class="comments_section" style="display: none;" >
        {% for comment in song.comment_set.all %}
        
        
        
            <div class="list-group-item list-group-item-light">
                
                <img class="rounded-circle article-img" style="width:30px; height: 30px;" src="{{ comment.user.profile.image.url }}" >
                
                <b>{{comment.user.username}}</b>
                at {{comment.date_created}}
                {% if user.is_staff or user == comment.user or user == object.tribe.chief %}
                {% csrf_token %}
                <a href="{% url 'tribe:delete-comment' tribe_id=object.tribe.id playlist_id=object.id comment_id=comment.id %}" > <img style="width: 20px;height: 20px;" src="/media/icon-delete.jpg" ></a>
                {% endif %}
                <p style="color: black;">{{comment.text}}</p></div>
               
                
                                
       

                {% empty %}
               

                {% endfor %}  
        
        {% if user in object.tribe.members.all or user.is_superuser or user == object.tribe.chief %}
            <div class="comment_container mt-2">
                
                <form role="form" action = "{% url 'tribe:comment' tribe_id=object.tribe.id playlist_id=object.id song_id=song.id  %}" method="POST" >
                        {% csrf_token %}
                    <div > 
                            <textarea style="font-size:18px; margin-left:2%;" cols="60" rows="1"  type="text" name="text" maxlength="500" required placeholder="Enter words!"></textarea> 
                           
                        <button style="font-size:18px; margin-left:4%;" class="btn btn-primary btn-sm mt-1 mb-1" type="submit">Comment</button>
                    </div>
                    
                </form>
               
            </div>
            
        {% endif %}
       
    </div>
</div>
    {% empty %}
    No songs added yet
{% endfor %}

   </article>

<script>
 $(document).ready(function(){
          $(".show").click(function(){
           $('.comments_section').slideToggle();
          
          });

      });
      $(document).ready(function(){
          $(".close").click(function(){
           $('.comments_section').slideToggle();
          
          });

      });      
</script>

   

{% endblock content %}

{% block list %}
{% endblock %}
{% block chat %}
{% endblock %}