{% extends "Tribes/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Song</legend>
                <h2>Are you sure you want to delete the song "{{ object.title }}"</h2>
               
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" href="{% url 'tribe:playlist' object.playlist.id %}" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'tribe:playlist' object.playlist.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block list %}
{% endblock %}
