{% extends "Tribes/base.html" %}


{% block content %}

   <article class="media content-section">
     <img class="rounded-circle article-img" src="{{ object.image.url }}" >
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" >Chief: {{ object.chief }}</a>
          
          {% if user in object.members.all %}
          <img class="rounded-circle article-img" style="width:3%; height: 3%;" src="/media/join-logo.jpg" ><b>Joined</b>
          {% elif user == object.chief %}
          <b>My Tribe</b>
          {% else %}
            {% if user.is_authenticated %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tribe:join' object.id %}" >Join</a>
            {% endif %}
          {% endif %}
           {% if object.chief == user or user.is_staff %}
           <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'tribe:update' object.id %}" >Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tribe:delete' object.id %}">Delete</a>
            </div>
           {% endif %}
           {% if user in object.members.all  %}
           <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tribe:leave' object.id %}" >Leave</a>
           {% endif %}
         </div>
         <h2 class="article-title" >Tribe: <b>{{ object.title }}</b></h2>
         <p class="article-content">Genre: <b>{{ object.genre }}</b></p>
         
         {% if user == object.chief or user.is_staff %}
         <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'tribe:create-playlist' pk=object.id %}" >Add Playlist</a>
         {% endif %}
         {% for playlist in object.playlist_set.all %}
         <h2>
         <a class="article-title" style="font-size: 25px;" href="{% url 'tribe:playlist' playlist.id %}">Playlist: {{ playlist.name }}</a>
          {% if user == object.chief or user.is_staff %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tribe:update-playlist' playlist.id %}" >Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tribe:delete-playlist' playlist.id %}" >Delete</a>
          {% endif %}
         </h2>
         <p class="article-content">{{ playlist.description }}</p>
         {% endfor %}
       </div>
       
   </article>
  
   
{% endblock content %}

{% block list %}
<div class="col-md-4">
  <div class="content-section">
    <h3>{{ object.title }}</h3>
    <p class='text-muted'>Members of this tribe.
      <ul class="list-group">

        <a class="list-group-item list-group-item-light"><b>Chieftain: {{ object.chief }}</b></a>
        {% for membership in object.membership_set.all %}
        <div>
        <div class="list-group-item list-group-item-light">Member: {{ membership.person }}
          {% if user == object.chief or user.is_staff %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tribe:kick' id1=membership.person.id id2=object.id  %}">Kick</a>
        
        {% endif %}
        </div>
        
        </div>
       {% endfor %}
       
      </ul>
    </p>
  </div>
</div>
<div>


{% endblock %}

{% block chat %}
<div id="left_side" class="col-md-4" ">
		
</div>
<div id="right_side"  >
  <ul id="out" class="" style=" white-space: wrap; width: 380px;height: 700px ;overflow: auto;position: fixed;top: 80px;left: 0px;">
    <p><b>Chat</b></p>
    {% for object in object_list %}
 
      {# prikaz za sve #}
      <li class="list-group-item list-group-item-light" ">
        {% if object.sender == object.receiver.chief %}
        <p style="color: black;" >
          <img class="rounded-circle account-img"style="width:30px; height:30px;" src="{{ object.sender.profile.image.url }}">
          <b>Chief: </b>{{ object.sender }} at {{ object.created_time }}
        </p>{% else %}
        
        
        <p style="color: black;" >
          
          <img class="rounded-circle account-img"style="width:30px; height:30px;" src="{{ object.sender.profile.image.url }}">
          
          Member: {{ object.sender }} at {{ object.created_time }}
        </p>
        {% endif %}
        <div class="list-group-item list-group-item-light text-muted" style="word-wrap: break-word;background-color: #C8C6C6;">
          {% if user == object.receiver.chief or user.is_staff %}
          <a   href="{% url 'tribe:delete-msg' id2=object.receiver.id id1=object.sender.id text=object.text %}" >
            <img style="width: 20px;height: 20px;" src="/media/icon-delete.jpg" >
          </a>
          {% endif %}
          {{ object.text }}
        </div>
        
      </li>
    {% endfor %}
    
    
  {% if user in object.members.all  %}
  <div id="chat-wrapper" class="content-section">
    <div id="chat-list"></div>
    <form id="chat_text_input" action="{% url 'tribe:chat_conversation' object.id %}" method="post">
      {% csrf_token %}
      <br>
      <textarea name="text" id="" cols="30" rows="2"></textarea>
      <input type="submit" class="btn btn-secondary btn-sm mt-1 mb-1">
    </form>
  </div>
</ul>
  {% elif user == object.chief or user.is_staff %}
  <div id="chat-wrapper" class="content-section">
    <div id="chat-list"></div>
    <form id="chat_text_input" action="{% url 'tribe:chat_conversation' object.id %}" method="post">
      {% csrf_token %}
      <textarea name="text" id="" cols="30" rows="2"></textarea>
      <input type="submit" class="btn btn-secondary btn-sm mt-1 mb-1" value="Send">
    </form>
  </div>
  
  {% endif %}
</div>	
</div>
<script>
var objDiv = document.getElementById("out");
objDiv.scrollTop = objDiv.scrollHeight;
</script>

{% endblock %}